body {
    width: 240px;
    padding: 15px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.header h1 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  align-items: flex-start;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1ABC9C;
  color: white;
  border: 1px solid #16A085;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
  margin: 0; /* 去掉左右外边距 */
}

button:hover {
  background-color: #16A085;
  border-color: #14967F;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button#bulk-delete, button#toggle-checkboxes {
  font-size: 16px;
  background-color: #e74c3c;
  border-color: #c0392b;
  margin-top: 10px;
  width: calc(200px + 40px); /* bulk-delete 宽度等于 body 的宽度减去左右内边距再加上两者之间的距离 */
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.buttons-row button {
  width: 120px; /* 将 remove-checkboxes 和 add-checkboxes 按钮的宽度增加到 120px */
}

.buttons-row button:first-child {
  margin-right: 10px; /* 添加一个右外边距来增加两个按钮之间的距离 */
}

.footer {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  display: flex; /* 添加这一行使得.footer下的直接子元素并排排列 */
  justify-content: center; /* 使得子元素在中心对齐 */
  gap: 10px; /* 如果需要，可以添加这一行以在子元素之间创建一些空间 */
}

button#remove-checkboxes {
  background-color: #badb34;
  border-color: #b6b929;
}

button#toggle-checkboxes {
  background-color: #2287da;
  border-color: #2758ab;
}

#sponsorLink {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #383E46;
  border-color: #78838F;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#sponsorLink .icon-text {
  display: flex;
  align-items: center;
}

#sponsorLink:hover {
  background-color: #993366;
}